@use '../../style/mixins.scss' as *;

@include b(virtuallist) {
  @include e(container) {
    width: 100%;
    height: 100%;
  }

  @include e(content) {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
