.fs-table-scrollbar {
  position: relative;
  width: 100%;
  height: 100%;
}

.fs-table-scrollbar .el-table__body-wrapper {
  z-index: 1;
}
.fs-table-scrollbar .el-table__header-wrapper {
  position: relative;
  z-index: 0;
}

.fs-table-scrollbar .el-table__fixed-header-wrapper {
  z-index: 6;
}
.fs-table-scrollbar .el-table__fixed-header-wrapper th:last-child {
  position: relative;
  z-index: 5;
}
