@use '../../style/mixins.scss' as *;

@include b(virtual-waterfall) {
  @include e(container) {
    width: 100%;
    height: 100%;
  }

  @include e(content) {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  @include e(list) {
    position: relative;
    width: 100%;
  }

  @include e(list-item) {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    box-sizing: border-box;
  }
}
