@use '../../style/mixins.scss' as *;

@include b(search-item) {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 18px;
  margin-right: 20px;
  @include e(label) {
    line-height: 20px;
    margin-bottom: 4px;
    overflow: hidden;
  }

  @include e(content) {
    height: 28px;
  }
}
